@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;800&family=Poppins:wght@200;300;400;500&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0px;
}

nav{
    height: 60px;
    display: flex;
    padding :30px 50px;
    background-color: tomato;
    justify-content: center;
    color: aliceblue;
}

.card-all{
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    text-align: left;
    margin-top: 20px;
    align-items: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin:  50px auto;
}

.card-img{
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
    padding: 10px;
    width: 250px;
}

.right-side{
    padding-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    font-family: Inter;
}

.location{
    display: flex;
    font-weight: 200;
    gap: 10px;
}
